/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Theme */
:root {
    --dark: #1f1c24;
    --light: #d4c9c5;
}

body {
    font-family: Arial;
    background-color: var(--dark);
    color: var(--light);
    font-size: 20px;
}

/* Header selectors */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #1f1c24;
    background-color: #3f3840;
}

a {
    color: var(--light);
    text-decoration: none;
}

/* Nav selectors */
nav {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

nav span {
    display: flex;
    flex-direction: row;
}

nav h1 {
    font-size: 30px;
}

nav span a {
    margin: 0 15px;
    padding: 0 10px;
}

nav span a:hover {
    background-color: var(--dark);
    border-radius: 20px;
    color: white
}

/* Figure selectors */
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Background Image */
.background-image {
    margin: 0px 0px 25px 0px;
    height: 800px;
    width: auto;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
}

/* Formatting contents on the background image */
.introduction {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction img {
    margin: 50px;
    width: 50%;
    height: auto;
    max-width: 600px;
    min-width: 300px;
}

.introduction p {
    margin: auto 50px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 1px #9d908c;
}

.vanessa {
    font-size: 80px;
    font-weight: 800;
    color: #bbc1ca;
}

/* Main selector */
main {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 5%
}

h2 {
    font-size: 40px;
    margin-bottom: 3%;
}

/* Formatting the About Me section */
.about-me-container {
    display: flex;
    align-items: center;
}

.about-me-container img {
    height: 300px;
    float: left;
    margin: 0 20px 25px 0;
}

.about-me-container div {
    display: flex;
    flex-direction: column;
}

.about-me-container p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Used to format the Project cards */
.container {
    width: 100%;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    flex: 1;
    margin: 20px;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.2);
    min-width: 300px;
    max-width: 700px;
    border: solid;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 15px 0px;
    font-size: 30px;
    color: var(--light)
}

.card p {
    font-size: 15px;
    line-height: 1.5;
    padding: 0 10px;
    padding-bottom: 20px;
}

.card:hover {
    transform: scale(110%);
}

/* Formatting for contact me */
.contact-info {
    margin-top: 25px;
}

.contact-info a {
    text-decoration: underline solid;
}

.contact-info h3 {
    margin-top: 30px;
}

/* Footer selectors */
footer {
    padding: 35px;
    clear: both;
    text-align: center;
}

footer h4 {
    font-size: 15px;
}

/* Media query */
@media screen and (max-width: 991px) {
    nav {
        padding: 0;
        flex-direction: column;
    }

    nav h1 {
        padding: 15px 0;
    }

    nav span {
        width: 100%;
        display: flex;
        padding: 15px;
        justify-content: center;
        background-color: var(--dark);
    }

    .about-me-container p {
        font-size: 15px;
    }
}